<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://www.jointjs.com/downloads/joint.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script type="text/javascript" src="http://www.jointjs.com/downloads/joint.js" ></script>   
    <script type="text/javascript" src="js/test.js">    
    </script>

    <title>Test</title>

</head>
<body>

    <div id="myholder" >
    </div>

    <div class="nav">
    	<button id="newRectangle">Rectangle</button>
    	<button id="newLink">Link</button>
    	
    </div>
</body></html>