<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://www.jointjs.com/downloads/joint.css" />
    <link rel="stylesheet" type="text/css" href="css/pure.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script type="text/javascript" src="http://www.jointjs.com/downloads/joint.js" ></script>
    <!--<script type="text/javascript" src="http://jointjs.com/js/joint.shapes.uml.js"></script>-->

    <title>Index 2</title>

</head>
<body>

<div id="paper" class="paper">
</div>
<div class="nav">

    <input id="title" placeholder="Enter file name" />
    <button class="pure-button pure-button-active" id="save" type="submit">Save Graph</button>
    <button class="pure-button pure-button-active" id="load" type="submit">Load Graph</button>

</div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/processchart.js"></script>
</html>